---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/Staging/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament website</Description>\r\n
        \ <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Mon, 15 May 2017 13:21:18 GMT
- request:
    method: get
    uri: https://api.parliament.uk/Staging/search?pagesize=10&q=banana&start=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=9398</id><updated>2017-05-15T13:19:53Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"banana\" totalResults=\"19100\" count=\"10\"
        startIndex=\"10\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">19100</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">10</startIndex><entry><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=9399</id><title
        type=\"html\">House of Commons Standing Committee (pt 4)</title><summary type=\"html\">I
        do not want to repeat all the elegant and witty remarks I made on the importance
        &lt;br&gt;\r\nof the &lt;b&gt;banana&lt;/b&gt; in my life or all the medical
        and nutritional benefits of the&amp;nbsp;...</summary><updated>2017-05-15T13:19:53Z</updated><link
        rel=\"alternate\" href=\"http://www.publications.parliament.uk/pa/cm199900/cmstand/euroa/st000404/00404s04.htm\"
        /></entry><entry><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=9400</id[...]
