---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/Staging/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament website</Description>\r\n
        \ <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Mon, 15 May 2017 13:21:21 GMT
- request:
    method: get
    uri: https://api.parliament.uk/Staging/search?pagesize=10&q=banana&start=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=9409</id><updated>2017-05-15T13:19:55Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"banana\" totalResults=\"18600\" count=\"10\"
        startIndex=\"10\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">18600</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">10</startIndex><entry><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=9410</id><title
        type=\"html\">House of Commons - Documents considered by the Committee on
        ...</title><summary type=\"html\">Dec 15, 2010 &lt;b&gt;...&lt;/b&gt; 9.3
        In that chapter, we also outlined the steps that the EU had taken to facilitate
        &lt;br&gt;\r\nthe adjustment that ACP &lt;b&gt;banana&lt;/b&gt; producers
        would have to make&amp;nbsp;...</summary><updated>2017-05-15T13:19:55Z</updated><link
        rel=\"alternate\" href=\"https://www.publications.parliament.uk/pa/cm201011/cmselect/cmeuleg/428/42811.htm\"
        /></entry><entry><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2[...]
