---
http_interactions:
- request:
    method: get
    uri: https://api20170418155059.azure-api.net/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament website</Description>\r\n
        \ <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Mon, 08 May 2017 15:20:53 GMT
[...]
- request:
    method: get
    uri: https://api20170418155059.azure-api.net/search?pagesize=10&q=peach&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><rss xmlns:a10=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\"><channel><title /><description /><a10:author><a10:name>parliament.uk</a10:name></a10:author><Query
        role=\"request\" searchTerms=\"peach\" totalResults=\"1430\" count=\"10\"
        startIndex=\"1\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1430</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1</startIndex><item><link>https://www.publications.parliament.uk/pa/cm201213/cmselect/cmeduc/559/559vw62.htm</link><title>Written
        evidence submitted by &lt;b&gt;Peach&lt;/b&gt;</title><description>&lt;b&gt;Peach&lt;/b&gt;
        is a national charity that supports parents of children with autism and their
        &lt;br&gt;\r\nfamilies by providing advice, information and behavioural services.
        &lt;b&gt;Peach&lt;/b&gt;&amp;nbsp;...</description></item><item><link>http://www.publications.parliament.uk/pa/c[...]
