---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/Staging/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament website</Description>\r\n
        \ <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api.parliament.uk/Staging/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Mon, 15 May 2017 13:33:55 GMT
- request:
    method: get
    uri: https://api.parliament.uk/Staging/search?pagesize=10&q=apple&start=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=9420</id><updated>2017-05-15T13:32:29Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"apple\" totalResults=\"71200\" count=\"10\"
        startIndex=\"10\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">71200</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">10</startIndex><entry><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=9421</id><title
        type=\"html\">Make &lt;b&gt;apple&lt;/b&gt; allow users to downgrade to iOS
        5.1.1 - Petitions</title><summary type=\"html\">Context - &lt;b&gt;Apple&lt;/b&gt;
        uses excessive terms and conditions that are too long and &lt;br&gt;\r\ncomplex
        for the lay person to understand or read. Issue - When upgrading to iOS &lt;br&gt;\r\n6&amp;nbsp;...</summary><updated>2017-05-15T13:32:29Z</updated><link
        rel=\"alternate\" href=\"https://petition.parliament.uk/archived/petitions/39463\"
        /></entry><entry><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=9422</id><title
        type=\"html[...]
